<%-include("partials/header")-%>
<div class="jumbotron container-fluid">
<h1 style="text-align: center;">Who Am I ?</h1>
</div>
<img src="rename.jpg" alt="Avatar" class="rounded avatar">

<p><%=aboutMaterial%></p>

<%-include("partials/footer")-%>