<%-include('partials/header');-%>
<div class="jumbotron">
    <h1 class="display-4" style="color: red;">Error 404 ! Not found</h1>
    <p class="lead">There might be problem with your internet connection or something else, please contact the developer
        <a href="mailto:waqasakaram512@outlook.com">waqasakram512@outlook.com</a>
    </p>
    <form action="/failure/send" method="POST">
    <button class="btn btn-warning btn-lg" type="submit" >Contact</button>
</form>
  </div>

<%-include('partials/footer');-%>