<%-include('partials/header');-%>
<div class="jumbotron">
    <h1 class="display-4">Message Sent</h1>
    <p class="lead">Return to Home Page</p>
    <form action="/success/send" method="POST">
    <button class="btn btn-primary btn-lg" type="submit" >Go Back</button>
</form>
  </div>


<%-include('partials/footer');-%>